@import "../configs/mixins.scss";

@media (max-height: 567px) {
  html {
    font-size: 6px;
    body {
      & > img {
        width: 28px;
      }
      main {
        .sliderContainer {
          .slide {
            .slide__Content {
              .difficulty {
                margin-bottom: 30px;
                .difficulty__stars {
                  img {
                    width: 6px;
                  }
                }
              }
              .hint {
                .hint__icon {
                  img {
                    width: 4px;
                    height: 4px;
                  }
                }
                .hint__img {
                  img {
                    width: 70%;
                  }
                }
              }
              .q-section {
                &::before {
                  @include octagon_top-small;
                }
                &::after {
                  @include octagon_bottom-small;
                }
              }
              .q-number {
                top: -20px;
                img {
                  height: 40px;
                }
              }
              .q-text {
                margin-bottom: 10px;
                .mark {
                  mark {
                    padding-bottom: 7px;
                  }
                }
              }
            }
            .start {
              .startSection {
                padding: 10px 0;
                justify-content: space-between;
                box-sizing: border-box;
                .startSection__topImg {
                  margin-bottom: 0px;
                  img {
                    height: 45px;
                  }
                }
                .startSection__semiTitle {
                  margin: 0;
                  span {
                    &:nth-child(1) {
                      mark {
                        padding-bottom: 5px;
                      }
                    }
                  }
                }
                .startSection__book {
                  width: 80%;
                  .startTotal {
                    .startTotal__total,
                    .startTotal__gold {
                      margin: 5px 0;
                      height: 60px;
                    }
                  }
                }
              }
              .startButton {
                .button {
                  width: 100px;
                  height: 50px;
                }
                .warning {
                  margin-top: 7px;
                }
              }
            }
            .question1 {
              .q1Section {
                width: 70%;
                padding: 30px 0 20px 0;
                .q1Section__mainImg {
                  img {
                    width: 180px;
                  }
                }
              }
              .buttonContainer {
                margin-top: 20px;
                width: 180px;
                .button {
                  &::before {
                    @include octagon_btn_top-small;
                  }
                  &::after {
                    @include octagon_btn_bottom-small;
                  }
                  width: 80px;
                  height: 80px;
                }
              }
            }
            .question2 {
              .q2Section {
                width: 70%;
                padding: 22px 0 17px 0;
                .q2Section__mainImg {
                  img {
                    width: 100px;
                  }
                }
              }
              .buttonContainer {
                margin-top: 5px;
                .button {
                  margin: 5px;
                  width: 115px;
                  height: 40px;
                  &::before {
                    @include octagon_btn_top-small;
                  }
                  &::after {
                    @include octagon_btn_bottom-small;
                  }
                  span {
                    border-radius: 10px;
                  }
                }
              }
              .warning {
                margin-top: 5px;
              }
            }
            .question3 {
              .q3Section {
                width: 70%;
                padding: 25px 0 17px 0;
                .q3Section__mainImg {
                  img {
                    width: 150px;
                  }
                }
              }
              .buttonContainer {
                margin-top: 5px;
                .button {
                  width: 110px;
                  height: 50px;
                  &::before {
                    @include octagon_btn_top-small;
                  }
                  &::after {
                    @include octagon_btn_bottom-small;
                  }
                  span {
                    border-radius: 10px;
                  }
                }
              }
            }
            .question4 {
              .q4Section {
                width: 70%;
                padding: 25px 0 18px 0;
                .q-text {
                  margin-bottom: 0;
                }
              }
              .buttonContainer {
                margin-top: 5px;
                width: 90%;
                .button {
                  margin: 5px;
                  width: 90px;
                }
              }
            }
            .question5 {
              .q5Section {
                width: 70%;
                padding: 25px 0 20px 0;
                .q-text {
                  margin-bottom: 0;
                }
              }
              .buttonContainer {
                width: 60%;
                .button {
                  height: 37px;
                  margin: 4px 0;
                  &::before {
                    @include octagon_btn_top-small;
                  }
                  &::after {
                    @include octagon_btn_bottom-small;
                  }
                  span {
                    border-radius: 10px;
                  }
                }
              }
            }
            .question6 {
              .q6Section {
                width: 70%;
                padding: 27px 0 17px 0;
                .q6Section__mainImg {
                  img {
                    width: 110px;
                  }
                }
              }
              .buttonContainer {
                margin-top: 6px;
                .button {
                  margin: 4px;
                  width: 110px;
                  height: 50px;
                  &::before {
                    @include octagon_btn_top-small;
                  }
                  &::after {
                    @include octagon_btn_bottom-small;
                  }
                  span {
                    border-radius: 10px;
                  }
                }
              }
            }
            .question7 {
              .q7Section {
                width: 70%;
                padding: 30px 0 20px 0;
                .q-text {
                  margin-bottom: 0;
                }
              }
              .buttonContainer {
                margin-top: 5px;
                .button {
                  margin: 5px;
                  width: 110px;
                  height: 50px;
                  &::before {
                    @include octagon_btn_top-small;
                  }
                  &::after {
                    @include octagon_btn_bottom-small;
                  }
                  span {
                    border-radius: 10px;
                  }
                }
              }
            }
            .question8 {
              .q8Section {
                width: 70%;
                padding: 27px 0 17px 0;
                .q8Section__mainImg {
                  img {
                    width: 150px;
                  }
                }
              }
              .buttonContainer {
                margin-top: 5px;
                .button {
                  width: 110px;
                  height: 45px;
                  margin: 5px;
                  &::before {
                    @include octagon_btn_top-small;
                  }
                  &::after {
                    @include octagon_btn_bottom-small;
                  }
                  span {
                    border-radius: 10px;
                  }
                }
              }
            }
            .question9 {
              .q9Section {
                width: 70%;
                padding: 27px 0 17px 0;
                .q9Section__mainImg {
                  img {
                    width: 150px;
                  }
                }
              }
              .buttonContainer {
                margin-top: 5px;
                .button {
                  margin: 5px;
                  width: 110px;
                  height: 45px;
                  &::before {
                    @include octagon_btn_top-small;
                  }
                  &::after {
                    @include octagon_btn_bottom-small;
                  }
                  span {
                    border-radius: 10px;
                  }
                }
              }
            }
            .question10 {
              .q10Section {
                width: 70%;
                padding: 25px 0 15px 0;
                .q10Section__mainImg {
                  width: 60%;
                }
              }
              .buttonContainer {
                margin-top: 5px;
                .button {
                  margin: 5px;
                  width: 110px;
                  height: 40px;
                  &::before {
                    @include octagon_btn_top-small;
                  }
                  &::after {
                    @include octagon_btn_bottom-small;
                  }
                  span {
                    border-radius: 10px;
                  }
                }
              }
              .warning {
                margin-top: 15px;
              }
            }
            .question11 {
              .q11Section {
                width: 70%;
                padding: 25px 0 15px 0;
                .q11Section__mainImg {
                  img {
                    width: 150px;
                  }
                }
              }
              .buttonContainer {
                margin-top: 5px;
                .button {
                  margin: 5px;
                  width: 110px;
                  height: 45px;
                  &::before {
                    @include octagon_btn_top-small;
                  }
                  &::after {
                    @include octagon_btn_bottom-small;
                  }
                  span {
                    border-radius: 10px;
                  }
                }
              }
            }
            .question12 {
              .q12Section {
                width: 70%;
                padding: 30px 0 25px 0;
                .q-text {
                  margin-bottom: 0;
                }
              }
              .buttonContainer {
                .button {
                  margin: 5px;
                  width: 110px;
                  height: 50px;
                  &::before {
                    @include octagon_btn_top-small;
                  }
                  &::after {
                    @include octagon_btn_bottom-small;
                  }
                  span {
                    border-radius: 10px;
                  }
                }
              }
            }
            .question13 {
              .q13Section {
                width: 70%;
                padding: 25px 0 20px 0;
                .q-text {
                  margin-bottom: 0;
                }
              }
              .buttonContainer {
                margin-top: 10px;
                width: 60%;
                .button {
                  height: 60px;
                  margin: 4px 0;
                  &::before {
                    @include octagon_btn_top-small;
                  }
                  &::after {
                    @include octagon_btn_bottom-small;
                  }
                  span {
                    border-radius: 10px;
                  }
                }
              }
            }
            .loading {
              .loading__section {
                margin-top: 10px;
                .loadingSection__bell {
                  img {
                    width: 40px;
                  }
                }
                .loadingSection__text {
                  margin: 18px 0 23px 0;
                }
                .loadingSection__book {
                  img {
                    width: 140px;
                  }
                }
              }
              .loading__check {
                margin: 15px;
                .dots {
                  .dot {
                    width: 4px;
                    height: 4px;
                  }
                }
              }
              .loadingButton {
                .button {
                  width: 120px;
                  height: 45px;
                  border-radius: 15px;
                  span {
                    border-radius: 10px;
                  }
                }
              }
            }
            .result {
              height: 100%;
              .result__section {
                height: 100%;
                justify-content: space-between;
                box-sizing: border-box;
                .resultBell {
                  .resultBell--gold {
                    margin-top: 0px;
                    margin-bottom: 0px;
                    & > img:nth-child(1) {
                      position: absolute;
                      top: 5px;
                      left: 30%;
                      height: 40px;
                      z-index: -2;
                      animation: $bell2;
                    }
                    & > img:nth-child(2) {
                      position: absolute;
                      top: 5px;
                      left: 0;
                      height: 40px;
                      z-index: -1;
                      animation: $bell1;
                    }
                    & > img:nth-child(3) {
                      height: 45px;
                    }
                    .resultBell__items {
                      .resultBell__item {
                        top: 34px;
                      }
                    }
                  }
                  .resultBell--wrong {
                    margin-top: 0px;
                    margin-bottom: 0px;
                    img {
                      width: 40px;
                    }
                  }
                }
                .resultSection__percent {
                  padding: 10px 20px;
                  margin: 0;
                }
                .resultSection__promote {
                  .promote__book {
                    margin: 10px 0 0 0;
                    img {
                      margin-right: 10px;
                      width: 120px;
                    }
                  }
                }
                .resultSection__shareBtns {
                  .shareBtns__title {
                    img {
                      width: 4px;
                      height: 4px;
                    }
                  }
                  .shareBtns__items {
                    img {
                      width: 35px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
