.slide(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
  .slide__Content.question6#q6
    .difficulty
      span 난이도
      .difficulty__stars
        img(data-src="images/svgs/fill_star.svg", alt="fill_star")
        img(data-src="images/svgs/unfill_star.svg", alt="fill_star")
        img(data-src="images/svgs/unfill_star.svg", alt="unfill_star")
    .question6__section.q6Section.q-section
      .q6Section__number.q-number
        img(data-src="https://cuttleman.github.io/bangguseok-image-hosting/mainImages/q6_top.png", alt="q6_top")
      .q6Section__text.q-text
        span 서소문동에 위치한 #[strong 우리나라의]
        br
        span #[strong 대표적인 미술관] 중 하나로
        br
        span.mark #[mark #[strong 《방구석 미술관 2 : 한국》]]
        br
        span 표지의 배경이기도 한 이 미술관은?
      .q6Section__mainImg
        img(data-src="https://cuttleman.github.io/bangguseok-image-hosting/mainImages/main_book.png", alt="q6_img")
    .buttonContainer
      .button(data-answer="1" ontouchstart="")
        span 1. 국립현대미술관
      .button(data-answer="2" ontouchstart="")
        span 2. 일민미술관
      .button(data-answer="3" ontouchstart="")
        span 3. 대림미술관
      .button(data-answer="4" ontouchstart="")
        span 4. 서울시립미술관