.slide(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
  .slide__Content.question7#q7
    .difficulty
      span 난이도
      .difficulty__stars
        img(data-src="images/svgs/fill_star.svg", alt="fill_star")
        img(data-src="images/svgs/unfill_star.svg", alt="fill_star")
        img(data-src="images/svgs/unfill_star.svg", alt="unfill_star")
    .question7__section.q7Section.q-section.q-section
      .q7Section__number.q-number
        img(data-src="https://cuttleman.github.io/bangguseok-image-hosting/mainImages/q7_top.png", alt="q7_top")
      .q7Section__text.q-text
        span '눈으로 본 것을 새롭게'
        br
        span 표현하고자 했던 #[strong 이응노 화가]가
        br
        span 10년을 한결같이 그렸던
        br
        span.mark #[mark 이 나무는]?
    .buttonContainer
      .button(data-answer="1" ontouchstart="")
        span 1. 소나무
      .button(data-answer="2" ontouchstart="")
        span 2. 대나무
      .button(data-answer="3" ontouchstart="")
        span 3. 전나무
      .button(data-answer="4" ontouchstart="")
        span 4. 벚나무
    .hint
      .hint__icon
        img(data-src="images/svgs/fill_star.svg", alt="fill_star")
        span hint
        img(data-src="images/svgs/fill_star.svg", alt="fill_star")
      .hint__img
        img(data-src="https://cuttleman.github.io/bangguseok-image-hosting/mainImages/q7_hint.png", alt="q7_hint")