.slide(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
  .slide__Content.question4#q4
    .difficulty
      span 난이도
      .difficulty__stars
        img(data-src="images/svgs/fill_star.svg", alt="fill_star")
        img(data-src="images/svgs/fill_star.svg", alt="fill_star")
        img(data-src="images/svgs/unfill_star.svg", alt="unfill_star")
    .question4__section.q4Section.q-section
      .q4Section__number.q-number
        img(data-src="https://cuttleman.github.io/bangguseok-image-hosting/mainImages/q4_top.png", alt="q4_top")
      .q4Section__text.q-text
        span 다음 그림 중
        br
        span.mark #[strong 동일한 화가]가 #[mark 그린 작품이]
        br
        span.mark #[mark 아닌 것]을 고르시오.
    .buttonContainer
      .button(data-answer="1" ontouchstart="")
        img(data-src="https://cuttleman.github.io/bangguseok-image-hosting/mainImages/q4_img_1.png", alt="q4_img_1")
      .button(data-answer="2" ontouchstart="")
        img(data-src="https://cuttleman.github.io/bangguseok-image-hosting/mainImages/q4_img_2.png", alt="q4_img_2")
      .button(data-answer="3" ontouchstart="")
        img(data-src="https://cuttleman.github.io/bangguseok-image-hosting/mainImages/q4_img_3.png", alt="q4_img_3")
      .button(data-answer="4" ontouchstart="")
        img(data-src="https://cuttleman.github.io/bangguseok-image-hosting/mainImages/q4_img_4.png", alt="q4_img_4")