.slide(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
  .slide__Content.question3#q3
    .difficulty
      span 난이도
      .difficulty__stars
        img(data-src="images/svgs/fill_star.svg", alt="fill_star")
        img(data-src="images/svgs/unfill_star.svg", alt="fill_star")
        img(data-src="images/svgs/unfill_star.svg", alt="unfill_star")
    .question3__section.q3Section.q-section
      .q3Section__number.q-number
        img(data-src="https://cuttleman.github.io/bangguseok-image-hosting/mainImages/q3_top.png", alt="q3_top")
      .q3Section__text.q-text
        span.mark #[strong 아래 단어]로 #[mark 연상되는 화가]를
        br
        span 고르시오.
      .q3Section__mainImg
        img(data-src="https://cuttleman.github.io/bangguseok-image-hosting/mainImages/q3_img.png", alt="q3_img")
    .buttonContainer
      .button(data-answer="1" ontouchstart="")
        span 1. 박래현
      .button(data-answer="2" ontouchstart="")
        span 2. 천경자
      .button(data-answer="3" ontouchstart="")
        span 3. 김향안
      .button(data-answer="4" ontouchstart="")
        span 4. 나혜석