.slide(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
  .slide__Content.question5#q5
    .difficulty
      span 난이도
      .difficulty__stars
        img(data-src="images/svgs/fill_star.svg", alt="fill_star")
        img(data-src="images/svgs/fill_star.svg", alt="fill_star")
        img(data-src="images/svgs/fill_star.svg", alt="unfill_star")
    .question5__section.q5Section.q-section
      .q5Section__number.q-number
        img(data-src="https://cuttleman.github.io/bangguseok-image-hosting/mainImages/q5_top.png", alt="q5_top")
      .q5Section__text.q-text
        span 일제강점기 시절, 1922년부터
        br
        span 문화통치의 일환으로 조선총독부가
        br
        span 개최한 미술 작품 공모전으로
        br
        span #[strong 당시 화가들의 유일한]
        br
        span.mark #[strong 등용문]이었던 이 #[mark 공모전의 이름은]?
    .buttonContainer
      .button(data-answer="1" ontouchstart="")
        span 1. 조선미술관람회
      .button(data-answer="2" ontouchstart="")
        span 2. 조선미술전시회
      .button(data-answer="3" ontouchstart="")
        span 3. 조선미술전람회
      .button(data-answer="4" ontouchstart="")
        span 4. 조선미술공모전
    .hint
      .hint__icon
        img(data-src="images/svgs/fill_star.svg", alt="fill_star")
        span hint
        img(data-src="images/svgs/fill_star.svg", alt="fill_star")
      .hint__text
        span '기억의 습작' 노래를 부른 김동률이 속한
        br
        span 남성 듀오의 이름과 같아요.