.slide(oncontextmenu="return false" ondragstart="return false" onselectstart="return false")
  .slide__Content.question9#q9
    .difficulty
      span 난이도
      .difficulty__stars
        img(data-src="images/svgs/fill_star.svg", alt="fill_star")
        img(data-src="images/svgs/fill_star.svg", alt="fill_star")
        img(data-src="images/svgs/fill_star.svg", alt="unfill_star")
    .question9__section.q9Section.q-section
      .q9Section__number.q-number
        img(data-src="https://cuttleman.github.io/bangguseok-image-hosting/mainImages/q9_top.png", alt="q9_top")
      .q9Section__text.q-text
        span 이 화가의 팬임을 밝힌
        br
        span #[strong 방탄소년단 RM이 방문하여 남긴]
        br
        span #[strong 방명록]으로 유명해지기도 한,
        br
        span 부산시립미술관 별관에 위치한
        br
        span.mark #[mark '000 공간'의 주인공인 이 예술가는]?
      .q9Section__mainImg
        img(data-src="https://cuttleman.github.io/bangguseok-image-hosting/mainImages/q9_img.png", alt="q9_img")
        div 출처 : 부산시립미술관
    .buttonContainer
      .button(data-answer="1" ontouchstart="")
        span 1. 이응노
      .button(data-answer="2" ontouchstart="")
        span 2. 이우환
      .button(data-answer="3" ontouchstart="")
        span 3. 박수근
      .button(data-answer="4" ontouchstart="")
        span 4. 장욱진