@font-face {
  font-family: "Jalnan";
  src: url("fonts/Jalnan_convert.eot");
  src: url("fonts/Jalnan_convert.eot?#iefix") format("embedded-opentype"),
    url("fonts/Jalnan_convert.woff2") format("woff2"),
    url("fonts/Jalnan_convert.woff") format("woff"),
    url("fonts/Jalnan_convert.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "MinionPro-Regular";
  src: url("fonts/MinionPro-Regular_convert.eot");
  src: url("fonts/MinionPro-Regular_convert.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/MinionPro-Regular_convert.woff2") format("woff2"),
    url("fonts/MinionPro-Regular_convert.woff") format("woff"),
    url("fonts/MinionPro-Regular_convert.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumBarunGothic";
  src: url("fonts/NanumBarunGothic_convert.eot");
  src: url("fonts/NanumBarunGothic_convert.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/NanumBarunGothic_convert.woff2") format("woff2"),
    url("fonts/NanumBarunGothic_convert.woff") format("woff"),
    url("fonts/NanumBarunGothic_convert.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumBarunGothicBold";
  src: url("fonts/NanumBarunGothicBold_convert.eot");
  src: url("fonts/NanumBarunGothicBold_convert.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/NanumBarunGothicBold_convert.woff2") format("woff2"),
    url("fonts/NanumBarunGothicBold_convert.woff") format("woff"),
    url("fonts/NanumBarunGothicBold_convert.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumBarunGothicLight";
  src: url("fonts/NanumBarunGothicLight_convert.eot");
  src: url("fonts/NanumBarunGothicLight_convert.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/NanumBarunGothicLight_convert.woff2") format("woff2"),
    url("fonts/NanumBarunGothicLight_convert.woff") format("woff"),
    url("fonts/NanumBarunGothicLight_convert.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumBarunGothicUltraLight";
  src: url("fonts/NanumBarunGothicUltraLight_convert.eot");
  src: url("fonts/NanumBarunGothicUltraLight_convert.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/NanumBarunGothicUltraLight_convert.woff2") format("woff2"),
    url("fonts/NanumBarunGothicUltraLight_convert.woff") format("woff"),
    url("fonts/NanumBarunGothicUltraLight_convert.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquare_acB";
  src: url("fonts/NanumSquare_acB_convert.eot");
  src: url("fonts/NanumSquare_acB_convert.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/NanumSquare_acB_convert.woff2") format("woff2"),
    url("fonts/NanumSquare_acB_convert.woff") format("woff"),
    url("fonts/NanumSquare_acB_convert.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquare_acEB";
  src: url("fonts/NanumSquare_acEB_convert.eot");
  src: url("fonts/NanumSquare_acEB_convert.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/NanumSquare_acEB_convert.woff2") format("woff2"),
    url("fonts/NanumSquare_acEB_convert.woff") format("woff"),
    url("fonts/NanumSquare_acEB_convert.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquare_acL";
  src: url("fonts/NanumSquare_acL_convert.eot");
  src: url("fonts/NanumSquare_acL_convert.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/NanumSquare_acL_convert.woff2") format("woff2"),
    url("fonts/NanumSquare_acL_convert.woff") format("woff"),
    url("fonts/NanumSquare_acL_convert.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquare_acR";
  src: url("fonts/NanumSquare_acR_convert.eot");
  src: url("fonts/NanumSquare_acR_convert.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/NanumSquare_acR_convert.woff2") format("woff2"),
    url("fonts/NanumSquare_acR_convert.woff") format("woff"),
    url("fonts/NanumSquare_acR_convert.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareRoundB";
  src: url("fonts/NanumSquareRoundB_convert.eot");
  src: url("fonts/NanumSquareRoundB_convert.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/NanumSquareRoundB_convert.woff2") format("woff2"),
    url("fonts/NanumSquareRoundB_convert.woff") format("woff"),
    url("fonts/NanumSquareRoundB_convert.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareRoundEB";
  src: url("fonts/NanumSquareRoundEB_convert.eot");
  src: url("fonts/NanumSquareRoundEB_convert.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/NanumSquareRoundEB_convert.woff2") format("woff2"),
    url("fonts/NanumSquareRoundEB_convert.woff") format("woff"),
    url("fonts/NanumSquareRoundEB_convert.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareRoundL";
  src: url("fonts/NanumSquareRoundL_convert.eot");
  src: url("fonts/NanumSquareRoundL_convert.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/NanumSquareRoundL_convert.woff2") format("woff2"),
    url("fonts/NanumSquareRoundL_convert.woff") format("woff"),
    url("fonts/NanumSquareRoundL_convert.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareRoundR";
  src: url("fonts/NanumSquareRoundR_convert.eot");
  src: url("fonts/NanumSquareRoundR_convert.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/NanumSquareRoundR_convert.woff2") format("woff2"),
    url("fonts/NanumSquareRoundR_convert.woff") format("woff"),
    url("fonts/NanumSquareRoundR_convert.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "YES24";
  src: url("fonts/YES24_convert.eot");
  src: url("fonts/YES24_convert.eot?#iefix") format("embedded-opentype"),
    url("fonts/YES24_convert.woff2") format("woff2"),
    url("fonts/YES24_convert.woff") format("woff"),
    url("fonts/YES24_convert.ttf") format("truetype");
  font-display: swap;
}
